.header {
  margin: 0 auto;
  padding: 0;
  background-color: #df4056;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
}

.header__container {
  margin: 0 auto;
  padding: 60px 0 35px 0;
  width: 86.46%;
  display: flex;
  box-sizing: border-box;

  justify-content: center;
  z-index:-1;
}

.header__container-main {
  margin: 0;
  display: flex;
  flex-direction: row;

  box-sizing: border-box;

  justify-content: space-between;
  align-items: center;
  width:80%;





}

.header__cont {
  padding:0 0 0 50px;
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
}

.header__list {}


.header__logo {
  background: url(../../images/logo3.svg);
  width: 208px;
  height: 40px;
  transition: opacity 1s ease-in;
}



.header__element-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 20.1534px;
  line-height: 18px;
  color:white;
}

.header__menu {
  margin: 0;
  /* padding: 18px 0 14px;*/
  /* width: 89.063%;*/
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  justify-content: right;
  /*width: 50%;*/

  align-self:center;
  justify-self: flex-end
}

.header__list {
  margin: 0;
  padding:0 ;
  display: flex;
  flex-direction: row;
  list-style: none;
gap:60px;
  justify-content: end;
  align-items: center;

  box-sizing: border-box;


}

.header__cont{
  display:flex;
}

.header__list-element {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 20.1534px;
  line-height: 18px;
}

.header__list-link {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

.header__icon {
  width: 29px;
  height: 29px;
}

/*.header__list-element_phone{
padding: 0 30px 0 0;
}


/*.header_theme_light {
  background-color: #ffffff;
}

.header_theme_new {
  background-color: #5C5C5C;
}*/



.header__info {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  box-sizing: border-box;
  align-items: center;

  justify-content: space-between;
  /*width: 80%;*/


}


.header__logo:hover {
  opacity: 0.6;
}




.header__about {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  display: block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 1s ease-in;
}

.header__about:hover {
  opacity: 0.6;
}

.header__about_phone {
  justify-content: flex-start;
  color: aquamarine;
  /*padding: 0 40% 0 0;*/
}

.header__about-nav {
  margin: 0;

  display: flex;
  flex-direction: row;
  gap: 30px;

}


/*.header__login {
  margin: 0;
  padding: 8px 20px 8px 20px;
  background-color: #2BE080;
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity 1s ease-in;
}

.header__login:hover {
  opacity: 0.6;
}
*/



@media screen and (min-width:500px) and (max-width:800px) {
  .header__container {
    width: 92.19%;
  }
}

@media screen and (max-width:500px) and (min-width:320px) {
  .header__container {
    width: 91.25%;
  }

  .header__info {
    gap: 14px;
  }

  .header__registration {
    font-size: 10px;
    line-height: 16px;
    padding: 5px 0 0 0;
  }

  .header__login {
    font-size: 10px;
    line-height: 16px;
    padding: 5px 12px;
  }

  .header__info {
    padding: 6px 0 0 0;
  }
}
