.main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item1 {

  background-image: url(../../images/auchan-mag.svg);


}

.item2 {

  background-image: url(../../images/brush-promo.svg);


}

.item3 {

  background-image: url(../../images/jasmine.svg);


}
