.solomeya {
  background: linear-gradient(to right, #fa6579, #f43850);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 200px 0 0 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  height: 1000px;
  box-sizing: border-box;






}

.sol__test {
  background-color: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  background-image: url(../../images/solomeya.svg);

  background-position: 50%;
  background-repeat: no-repeat;



}

.solomeya__mask {
  background-color: aqua;


}

.solomeya__element {
  width: 728px;
  height: 728px;
  position: absolute;

  z-index: -2;

}

.solomeya__element_1 {
  background-image: url(../../images/krug.svg);
  width: 728px;
  height: 728px;
  position: absolute;
  z-index: -1;
  right: -375px;
  top: -300px;
  overflow: hidden
}

.solomeya__element_2 {
  background-image: url(../../images/krug2.svg);
  width: 262px;
  height: 262px;
  position: absolute;
  z-index: -1;
  /*right:1890px;
   top:111px;*/
  right: 69.4%;
  top: 11%;
  overflow: hidden;

}

.solomeya__element_3 {
  background-image: url(../../images/krug4.svg);
  width: 488px;
  height: 488px;
  position: absolute;
  z-index: -1;
  /*right:1890px;
   top:111px;*/
  right: 82%;
  top: 690px;
  overflow: hidden;
  background-repeat: no-repeat;


}

.solomeya__title {
  margin: 0;
  padding: 0;
  /*font-family: 'Montserrat';*/

  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 60px;
  color: white;
  text-align: center;


}



.solomeya__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 38px;
  margin: 0;
  padding: 10px 0 60px 0;
  color: white;
  box-sizing: border-box;
}

.solomeya__cont {

  /*width: 926px;*/

  justify-content: space-between;


  display: flex;
  flex-direction: row;
  padding: 0 0 60px 0;

  /*padding: 0 148px 0 0;*/


}

.solomeya__cont-brush {

  display: flex;
  position: relative;
  padding: 0 0 0 140px;
}

.solomeya__cont-buy {

padding: 0 0 0 151px;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  box-sizing: border-box;



}

.solomeya__img-1 {

  width: 217px;
  height: 360px;
  position: absolute;
  top: 70px;
  right: 245px;

}

.solomeya__img-2 {
  width: 345px;
  height: 535px;
  padding: 0 0 0 239px;



}

.solomeya__img-3 {

  width: 184px;
  height: 233px;
  position: absolute;
  top: 200px;
  left: 630px;
  padding: 0 36px 0 0;
}

.solomeya__button {
  width: 255px;
  height: 66px;
  background: #7DD3DF;
  border-radius: 20.768px;

  border: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 20px;
  align-self: flex-start;
  color: white;
}

.solomeya__buy {
  margin:0;
  padding: 0 0 20px 0;
  color: white;
  align-self: center;
  font-style: normal;
  font-weight: 900;
  font-size: 39.483px;
  line-height: 44px;
}

.solomeya__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0;
  align-self: flex-start;
  padding: 20px 0 0 0;

}

.solomeya__text_2{
  padding: 0;
}
