.promo {
  margin: 0;
  padding: 200px 0 0 0;
  width: 100%;
  background: linear-gradient(to right, #fa6579, #f43850);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

.promo__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 60px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo__subtitle {
  margin: 0;
  padding: 10px 0 60px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 38px;
  color: #ffffff;
  box-sizing: border-box;
}

.promo__promo-container {
  margin: 0;
  padding: 0 0 60px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.promo__products {
  margin: 0;
  padding: 0 0 0 140px;
  display: flex;
  position: relative;
}

.promo__brush-img {
  margin: 0;
}

.promo__brush-img-pink {
  width: 217px;
  height: 360px;
  position: absolute;
  top: 70px;
  right: 245px;
}

.promo__brush-img-blue {
  width: 345px;
  height: 535px;
  padding: 0 0 0 239px;
}

.promo__brush-img-yellow {
  width: 184px;
  height: 233px;
  position: absolute;
  top: 200px;
  left: 630px;
  padding: 0 36px 0 0;
}

.promo__brush-img_yellow {
  width: 184px;
  height: 233px;
  position: absolute;
  top: 200px;
  left: 630px;
  padding: 0 36px 0 0;
  box-sizing: border-box;
}

.promo__bestseller-container {
  margin: 0;
  padding: 0 0 0 151px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  box-sizing: border-box;
  list-style: none;


}

.promo__bestseller {
  margin: 0;
  padding: 0 0 20px 0;
  align-self: center;
  box-sizing: border-box;
}

.promo__bestseller-title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #ffffff;
}

.promo__button-buy {
  margin: 0;
  padding: 0;
  padding: 23px 65px 23px 65px;
  /* width: 255px;
  height: 66px;*/
  background: #7DD3DF;
  border-radius: 20.768px;
  border: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 20px;
  align-self: flex-start;
  box-sizing: border-box;
}

.promo__button-link-buy {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #ffffff;

}

.promo__bestseller-desc {
  margin: 0;
  padding: 20px 0 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  align-self: flex-start;
}

.promo__bestseller-desc_newline {
  padding: 0;
}

.promo__wrapper {
  background-color: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  background-image: url(../../images/solomeya.svg);
  background-position: 50%;
  background-repeat: no-repeat;
}

.promo__element-circle-pink {
  margin: 0;
  padding: 0;
  background-image: url(../../images/krug.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 728px;
  height: 728px;
  position: absolute;
  right: -375px;
  top: -300px;
  z-index: -1;
}

.promo__element-circle-blue {
  margin: 0;
  padding: 0;
  background-image: url(../../images/krug2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 262px;
  height: 262px;
  position: absolute;
  z-index: -1;
  right: 69.4%;
  top: 11%;
  z-index: -1;
}

.promo__element-circle-violet {
  margin: 0;
  padding: 0;
  background-image: url(../../images/violet.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 354px;
  height: 354px;
  position: absolute;
  z-index: -1;
  right: -15%;
  top: 62%;
  z-index: -1;
  display: none;

}

.promo__element-circle-yellow {
  background-image: url(../../images/krug4.svg);
  width: 488px;
  height: 488px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  right: 82%;
  top: 690px;
  z-index: -1;
}

@media screen and (max-width:1280px) and (min-width:1024px) {
  /* .promo__bestseller-container {
    width: 461px;
  padding: 0 0 0 120px;
  justify-content: end;
  }




  .promo__button-buy {
    align-self: center;
  }

  .promo__bestseller-desc {
    align-self: center;
  }
  */

  .promo__bestseller-title {

    font-size: 32px;
    line-height: 36px;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .promo__button-buy {

    padding: 20px 50px 20px 50px;
    background: #7DD3DF;
    border-radius: 20.768px;
    border: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 16px;
    align-self: flex-start;
    box-sizing: border-box;
  }

  .promo__products {

    padding: 0 0 0 80px;


  }

  .promo__brush-img-yellow {
    width: 184px;
    height: 233px;
    position: absolute;
    top: 200px;
    left: 570px;
    padding: 0 36px 0 0;
  }

}

@media screen and (max-width:1125px) and (min-width:950px) {
  .promo__promo-container {

    flex-direction: column;
    padding: 0 165px 0 0;
    margin: 0;
    gap: 40px;
  }

  .promo__brush-img-blue {
    padding: 0;
    margin: 0;
  }

  .promo__products {
    padding: 0 0 0 130px;
  }


  .promo__bestseller-container {

    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0 0 60px 170px;

  }

  .promo__brush-img-yellow {
    width: 184px;
    height: 233px;
    position: absolute;
    top: 200px;
    left: 375px;
    padding: 0 36px 0 0;
  }

  .promo__button-buy {


    align-self: center;
    justify-self: center;
  }

  .promo__bestseller-desc {

    align-self: center;
  }

  .promo__button-buy {

    padding: 23px 65px 23px 65px;

    font-weight: 500;
    font-size: 32px;
    line-height: 20px;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
  }

  .promo__bestseller-title {

    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;

  }

  .promo__brush-img-pink {
    width: 217px;
    height: 360px;
    position: absolute;
    top: 70px;
    right: 240px;
  }

  .promo__element-circle-violet {
    display: flex;
  }

}

@media screen and (max-width:1024px) and (min-width:950px) {
  .promo__title {

    font-size: 58px;
    line-height: 53px;
  }

  .promo__subtitle {

    font-size: 38px;
    line-height: 34px;

  }
}

@media screen and (max-width:950px) and (min-width:750px) {
  .promo__title {

    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
  }

  .promo__subtitle {

    font-size: 28px;
    line-height: 38px;

  }

  .promo__promo-container {

    flex-direction: column;
    padding: 0 165px 0 0;
    margin: 0;
    gap: 40px;
  }

  .promo__brush-img-blue {
    padding: 0;
    margin: 0;
  }

  .promo__products {
    padding: 0 0 0 130px;
  }


  .promo__bestseller-container {

    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0 0 60px 170px;

  }

  .promo__brush-img-yellow {
    width: 184px;
    height: 233px;
    position: absolute;
    top: 200px;
    left: 375px;
    padding: 0 36px 0 0;
  }

  .promo__button-buy {


    align-self: center;
    justify-self: center;
  }

  .promo__brush-img-pink {
    width: 217px;
    height: 360px;
    position: absolute;
    top: 70px;
    right: 240px;
  }

  .promo__element-circle-violet {
    display: flex;
  }

  .promo__bestseller-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
  }

  .promo__bestseller-desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    align-self: center;
  }

  .promo__bestseller-desc_newline {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  .promo__button-buy {
    padding: 17px 37px;
    font-weight: 500;
    font-size: 23px;
    line-height: 20px;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
  }

  .promo__element-circle-violet {

    right: -23%;
    top: 62%;

  }

  .promo__element-circle-blue {
    right: 80%;
    top: 14%;

  }

  .promo__element-circle-yellow {
    width: 380px;
    height: 380px;
    right: 80%;
    top: 850px;

  }

  .promo__element-circle-pink {
    width: 568px;
    height: 568px;

    right: -285px;
    top: -253px;

  }

  .promo__wrapper {

    width: 100%;
    background-size: contain;



    background-position: 50%;
    background-repeat: no-repeat;
  }

}

@media screen and (max-width:749px) and (min-width:450px) {


  .promo__subtitle {

    font-size: 28px;
    line-height: 38px;

  }

  .promo__promo-container {

    flex-direction: column;
    padding: 0 165px 0 0;
    margin: 0;
    gap: 40px;
  }

  .promo__brush-img-blue {
    padding: 0;
    margin: 0;
    width: 257px;
    height: 398px;
  }

  .promo__products {
    padding: 0 0 0 170px;
  }


  .promo__bestseller-container {

    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0 0 60px 170px;

  }

  .promo__brush-img-yellow {
    width: 137px;
    height: 173px;
    position: absolute;
    top: 150px;
    left: 365px;
    padding: 0 36px 0 0;
  }

  .promo__button-buy {


    align-self: center;
    justify-self: center;
  }

  .promo__brush-img-pink {
    width: 161px;
    height: 268px;
    position: absolute;
    top: 60px;
    right: 180px;
  }

  .promo__element-circle-violet {
    display: flex;
  }

  .promo__bestseller-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
  }

  .promo__bestseller-desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    align-self: center;
  }

  .promo__bestseller-desc_newline {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  .promo__button-buy {
    padding: 17px 37px;
    font-weight: 500;
    font-size: 23px;
    line-height: 20px;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
  }

  .promo__element-circle-violet {
    width: 197px;
    height: 197px;
    right: -17%;
    top: 62%;

  }

  .promo__element-circle-blue {
    right: 80%;
    top: 14%;
    width: 138px;
    height: 138px;

  }

  .promo__element-circle-yellow {
    width: 272px;
    height: 272px;
    right: 77%;
    top: 730px;

  }

  .promo__element-circle-pink {
    width: 374px;
    height: 374px;

    right: -180px;
    top: -170px;

  }

  .promo__wrapper {

    width: 100%;
    background-size: contain;



    background-position: 50%;
    background-repeat: no-repeat;
  }

}

@media screen and (max-width:749px) and (min-width:600px) {
  .promo__title {

    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
  }
}

@media screen and (max-width:600px) and (min-width:450px) {
  .promo__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
  }

  .promo__subtitle {

    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    padding: 0 0 20px 0;

  }

  .promo__bestseller-title {
    font-weight: 900;
    font-size: 23px;
    line-height: 44px;
  }

  .promo__bestseller-desc {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
padding: 10px 0 0 0;
  }

  .promo__bestseller-desc_newline {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
  }

  .promo__button-buy{
    font-weight: 500;
    font-size: 19px;
    line-height: 20px;
  }

  .promo__bestseller{
    padding:0 0 10px 0;
  }



}


@media screen and (max-width:450px) and (min-width:300px) {
  .promo__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 35px;
  }

  .promo__subtitle {

    font-weight: 400;
    font-size: 21px;
    line-height: 38px;
    padding: 0 0 20px 0;

  }

  .promo__bestseller-title {
    font-weight: 900;
    font-size: 23px;
    line-height: 44px;
  }

  .promo__bestseller-desc {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
padding: 10px 0 0 0;
  }

  .promo__bestseller-desc_newline {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    padding: 0;
  }

  .promo__button-buy{
    font-weight: 500;
    font-size: 19px;
    line-height: 20px;
  }

  .promo__bestseller{
    padding:0 0 10px 0;
  }

  .promo__promo-container {

    flex-direction: column;
    padding: 0 165px 0 0;
    margin: 0;
    gap: 40px;
  }

  .promo__brush-img-blue {
    padding: 0;
    margin: 0;
    width: 257px;
    height: 398px;
  }

  .promo__products {
    padding: 0 0 0 170px;
  }


  .promo__bestseller-container {

    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 0 0 60px 170px;

  }

  .promo__brush-img-yellow {
    width: 137px;
    height: 173px;
    position: absolute;
    top: 150px;
    left: 365px;
    padding: 0 36px 0 0;
  }

  .promo__button-buy {


    align-self: center;
    justify-self: center;
  }

  .promo__brush-img-pink {
    width: 161px;
    height: 268px;
    position: absolute;
    top: 60px;
    right: 180px;
  }

  .promo__element-circle-violet {
    display: flex;
  }

  .promo__bestseller-title {
    font-weight: 900;
    font-size: 32px;
    line-height: 44px;
  }

  .promo__bestseller-desc {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    align-self: center;
  }

  .promo__bestseller-desc_newline {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
  }

  .promo__button-buy {
    padding: 17px 37px;
    font-weight: 500;
    font-size: 23px;
    line-height: 20px;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
  }

  .promo__element-circle-violet {
    width: 197px;
    height: 197px;
    right: -17%;
    top: 62%;

  }

  .promo__element-circle-blue {
    right: 80%;
    top: 14%;
    width: 138px;
    height: 138px;

  }

  .promo__element-circle-yellow {
    width: 272px;
    height: 272px;
    right: 77%;
    top: 730px;

  }

  .promo__element-circle-pink {
    width: 374px;
    height: 374px;

    right: -180px;
    top: -170px;

  }

  .promo__wrapper {

    width: 100%;
    background-size: contain;



    background-position: 50%;
    background-repeat: no-repeat;
  }



}
