.buy {
  margin: 0;
  padding: 60px 0 60px 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buy__container {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.buy__title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 38px;
  text-align: center;
  color: #3B3B3B;
}

.buy__markets-container {
  margin: 0;
  padding: 60px 0 30px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(8, minmax(110px, 120px));
  gap: 30px;
  box-sizing: border-box;
}

.buy__markets-container-second {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, minmax(110px, 120px));
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.buy__markets-element {
  border-radius: 50%;
  height: 120px;
  box-shadow: 9px 0px 24px -11px rgba(34, 60, 80, 0.51);
}

.buy__markets-element-img {
  width: 100%;
}
