.order {
  margin: 0;
  padding: 60px 0 60px 0;
  width: 100%;
  background-color: #a87db5;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.order__container {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.order__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 38px;
  color: #ffffff;
  text-align: center;
}

.order__markets-container {
  margin: 0;
  padding: 40px 0 30px 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(70px, 110px));
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  gap: 40px;
}

.order__market-element {
  width: 100%;


}

.order__icon {
  width: 100%;
}

.order__description-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 60px;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.order__descripton-text {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  width: 45%;
}

.order__button {
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.order__button {
  margin: 0;
  padding: 0;
  cursor: pointer;



}


.order__button-link {
  margin: 0;
  padding: 23px 25px;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  text-decoration: none;
  background-color: #7DD3DF;
  border-radius: 20.768px;
  border: inherit;
  box-sizing: border-box;
  display: block;
  transition: background-color 0.3s linear;
}

.order__button-link:hover {
  background-color: #6EB6CD
}

.order__button-link:active {
  background-color: #2CA4BE;
}



@media screen and (max-width: 1155px) and (min-width:300px) {

  .order__descripton-text {
    width: 95%;
    text-align: center;
  }

  .order__descripton-text_th {
    width: 100%;
  }

}

@media screen and (max-width: 1155px) and (min-width:760px) {
  .order__title {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
  }

  .order__descripton-text {
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
  }

  .order__button-link {
    font-weight: 500;
    font-size: 21px;
    line-height: 20px;
    margin: 20px 0 0 0;
    padding: 17px 20px;
  }

  .order__description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    height: 180px;
  }
}

@media screen and (max-width: 760px) and (min-width: 450px) {
  .order__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
  }

  .order__descripton-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
  }

  .order__button-link {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin: 20px 0 0 0;
    padding: 13px 17px;
  }

  .order__markets-container {
    padding: 20px 0 30px 0;
    grid-template-columns: repeat(4, minmax(85px, 85px));
    gap: 27px;
  }

  .order__description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    height: 120px;
  }

  .order {
    padding: 40px 0 40px 0;
  }
}


@media screen and (max-width: 450px) and (min-width: 300px) {
  .order__title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 38px;
  }

  .order__descripton-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }

  .order__button-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    margin: 20px 0 0 0;
    padding: 10px 13px;
  }

  .order__markets-container {
    padding: 15px 0 30px 0;
    grid-template-columns: repeat(4, minmax(58px, 58px));
    gap: 15px;
  }

  .order {
    padding: 40px 0 40px 0;
  }

  .order__description-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0;
    height: 115px;
  }
}
